  {%load static%}
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <!-- 반응형 웹 -->
    	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- css -->
      <link rel="stylesheet" href="{%static 'web/css/reset.css'%}">
      <link rel="stylesheet" href="{%static 'web/css/form.css'%}">
      <title>이번주 로또1등 쿠폰</title>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
      <!-- 제이쿼리 자바스크립트 -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script type="text/javascript" src="{%static 'web/js/validate.js'%}"></script>
      <script type="text/javascript" src="{%static 'web/js/form.js'%}"></script>
      <!-- Taboola Pixel Code -->
      <script type='text/javascript'>
        window._tfa = window._tfa || [];
        window._tfa.push({notify: 'event', name: 'page_view', id: 1357718});
        !function (t, f, a, x) {
               if (!document.getElementById(x)) {
                  t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
               }
        }(document.createElement('script'),
        document.getElementsByTagName('script')[0],
        '//cdn.taboola.com/libtrc/unip/1357718/tfa.js',
        'tb_tfa_script');
      </script>
      <noscript>
        <img src='https://trc.taboola.com/1357718/log/3/unip?en=page_view'
            width='0' height='0' style='display:none' />
      </noscript>
      <!-- End of Taboola Pixel Code -->
    </head>
    <body>
      <div class="first_box">
        <img src="{%static 'web/img/talk_1.png'%}">
        <h1>로또분석번호</h1>
      </div>
      <hr>
      <div class="second_box">
        <h1>[이번주 1등 당첨번호 받기]</h1><br>
        <p>* 가입정보는 예상번호 안내에만 활용됩니다.</p>
      </div>
      <form action="{%url 'web:new_information'%}" method="post" onsubmit="return validate();">
        {%csrf_token%}
        <br><br>
        <select name="phone_number_1">
          <option value="010">010</option>
          <option value="011">011</option>
          <option value="016">016</option>
          <option value="017">017</option>
          <option value="018">018</option>
          <option value="019">019</option>
          <option value="070">070</option>
        </select>
        <input type="text" id="phone_number_2" name="phone_number_2" placeholder="앞자리">
        <input type="text" id="phone_number_3" name="phone_number_3" placeholder="뒷자리"><br><br>
        <label><input type="checkbox" id="agreement" name="agreement" checked>
          개인정보 처리방침에 동의합니다.<a href="{%url 'web:agreement'%}"> [자세히보기]</a></label>
        <br><br>
        <button type="submit" onclick="input_db();">예상 번호받기</button>
        <br><br>
      </form>
    </body>
  </html>
