{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- 반응형 웹 -->
  	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- css -->
    <link rel="stylesheet" href="{%static 'web/css/reset.css'%}">
    <link rel="stylesheet" href="{%static 'web/css/news.css'%}">
    <title>로또 당첨번호 분석으로 연속 1등 4번 나와..</title>
    <!-- 제이쿼리 자바스크립트 -->
  	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="{%static 'web/js/news.js'%}"></script>
    <!-- Taboola Pixel Code -->
    <script>
      window._tfa = window._tfa || [];
      window._tfa.push({notify: 'event', name: 'page_view', id: 1357718});
      !function (t, f, a, x) {
             if (!document.getElementById(x)) {
                t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
             }
      }(document.createElement('script'),
      document.getElementsByTagName('script')[0],
      '//cdn.taboola.com/libtrc/unip/1357718/tfa.js',
      'tb_tfa_script');
    </script>
    <noscript>
      <img src='https://trc.taboola.com/1357718/log/3/unip?en=page_view'
          width='0' height='0' style='display:none' />
    </noscript>
    <!-- End of Taboola Pixel Code -->
  </head>
  <body>

    <!-- <form> 유효성 검사 자바스크립트-->
    <script type="text/javascript" src="{%static 'web/js/validate.js'%}">
    </script>

    <section id="first_section">
      <div class="menu_box">
        <img src="{%static 'web/img/news1.jpg'%}">
      </div>
    </section>

    <section id="second_section">
      <div class="title_box">
        <h1>[단독]</h1>
        <h1>로또 1등, 2등 당첨자 80%이상 수동... 화제</h1>
      </div>
      <div class="date_box">
        <img src="{%static 'web/img/i.jpg'%}">
        <p>167,378 읽음 2020.12.05 16:54</p>
        <br><br>
      </div>
      <hr>
      <div class="text_box">
        <p>
        많은 사람들이 매주 큰 꿈을 안고 로또를 구매하지만 5등조차 당첨되기 쉽지 않다.
        <br><br>
        그럼에도 불구하고 1등 당첨자는 매주 나오고 1등이 아니더라도 2,3등에 연속으로 당첨되는 사람도 주변에서 어렵지않게 볼 수 있다.
        <br><br>
        보통의 사람들은 이런 사람을 보고 평생 쓸 운을 다 쓴 것 아니냐며 부러운 시선을 보내지만 4회 연속으로 2등과 3등에 당첨된 최씨(남, 39세)는 운보다 당첨번호를 분석한 결과라고 노하우를 밝혀 세간의 관심을 집중시켰다.
        </p>
        <br><br>
        <img src="{%static 'web/img/n01.jpg'%}">
        <br><br>
        <p>
        최근 온라인의 로또업체 커뮤니티 당첨 후기란에 게시글을 올린 최씨는 몇 년 동안 매주 취미삼아 자동번호를 돌려 로또를 구매했으나 4등 이상 당첨된 적이 없어 그만둘까 생각하던 시기에 어느 업체로부터 우연히 무료 문자를 받기 시작했는데 체계적인 시스템과 편리한 문자 서비스가 맘에 들어 속는 셈치고 가입을 하게 었다고 한다. 멤버십 비용 또한 1년 동안 매주 로또 몇 장 더 사면 되는 수준의 비용이었기 때문에 크게 부담스럽지 않아 서비스를 이용하게 됐는데 이 곳에서 받은 번호로 당첨횟수가 크게 늘어 돈과 재미를 단번에 보상받게 되었다는 이야기다.
        </p>
        <br><br>
        <img src="{%static 'web/img/n2.png'%}">
        <br><br>
        <h1 style="text-align:center;"><실제 로또 1등 당첨자의 번호발급 페이지></h1>
        <p>또한 최씨는 “당첨이 되기 시작하면서 혹시나 하는 마음에 여러 업체를 이용해 봤지만 이 곳만큼 당첨률이 높았던 곳이 없었다. 당첨번호를 조합하는 방식이 파워조합기, 필터링조합기, 반자동 조합기, 1등 당첨보장 조합기 등 다양하고 관리와 서비스가 잘 이루어져 분석 번호를 매주 받아볼 수 있었다.”고 후기를 전했다.</p>
        <br><br>
        <img src="{%static 'web/img/n03.jpg'%}">
        <br><br>
        <p>여기서 말하는 로또 정보업체는 인공지능 압축조합 시스템으로 1등 당첨번호를 다수 배출한 로또리움이다. 로또리움은 10년이 넘는 로또의 패턴을 수백 가지의 분석을 토대로 엄청난 양의 데이터를 축적하고 있어 최대 당첨비율을 높일 수 있는 필터링으로 최상위 조합을 매주 분석하고 조합하여 1등 당첨 예상번호를 추출한다.
          <br><br>
          선정된 4가지 고정수를 추천번호에 포함하고 30가지 제외수 필터링을 적용한 후 연속된 번호를 제외하는 등 단계별로 필터링하여 A그룹부터 E그룹까지 예상번호를 배분하는 체계적인 방식이다. 이러한 경향과 추세를 접목하기 때문에 로또 자동보다 당첨확률이 확연하게 높아진다.
          <br><br>
          한편, 로또리움은 지난해에도 1등 20조합을 배출하였으며 현재 당첨 회원을 대상으로 제네시스 GV80 차량을 증정하는 이벤트도 진행 중이다.
        </p>
      </div>
      <div class="input_box">
        <br><br>
        <h2>도전하는 자만이 성공한다.</h2><br>
        <h1>이번주 로또 1등 분석번호받기</h1>
        <br><br>
        <form action="{%url 'web:new_information'%}" onsubmit="return validate();" method="post">
          {%csrf_token%}
          <select name="phone_number_1">
            <option value="010">010</option>
            <option value="011">011</option>
            <option value="016">016</option>
            <option value="017">017</option>
            <option value="018">018</option>
            <option value="019">019</option>
            <option value="070">070</option>
          </select>
          <input type="text" id="phone_number_2" name="phone_number_2" placeholder="앞자리">
          <input type="text" id="phone_number_3" name="phone_number_3" placeholder="뒷자리"><br><br>
          <label><input type="checkbox" id="agreement" name="agreement" checked>
            개인정보 처리방침에 동의합니다.<a href="{%url 'web:agreement'%}">[자세히보기]</a></label>
          <br><br>
          <div class="data_box">
            <div>
              <h1>인공지능시스템이 이번주 로또 1등 예상번호 추출중...</h1>
            </div>
            <div>
              <img src="{%static 'web/img/land.gif'%}">
              <img src="{%static 'web/img/land.gif'%}">
              <img src="{%static 'web/img/land.gif'%}">
              <img src="{%static 'web/img/land.gif'%}">
              <img src="{%static 'web/img/land.gif'%}">
              <img src="{%static 'web/img/land.gif'%}">
            </div>
            <div>
              <button type="submit" onclick="input_db();">예상번호받기</button>
            </div>
          </div>
          <br><br>
        </form>
      </div>
    </section>
    <br><br>
    <section id="third_section">
      <h1>댓글</h1>
      <p>226</p>
      <br><br>
      <table class="list_box">
        <tr>
          <td>인기순</td>
          <td>등록순</td>
        </tr>
      </table>
      <br>
      <div class="comment_box">
        <h1>b6***</h1>
        <h2>2020 12-20 20:05:33</h2><br>
        <p>솔직히 당첨될지 몰랐습니다... 해보니까 실제로 당첨되서 너무 기쁩니다. 앞으로도 좋은 번호 부탁드립니다 (_ _)</p><br>
        <h3>추천: </h3><h4>23</h4>
      </div>
      <br><br><hr><br>
      <div class="comment_box">
        <h1>cy***</h1>
        <h2>2020 12-20 22:12:01</h2><br>
        <p>직장동료가 번호받고 당첨 된거보니 배아파서 지금 바로 가입하러 갑니다 저도 좋은 번호 주세요</p><br>
        <h3>추천: </h3><h4>19</h4>
      </div>
      <br><br><hr><br>
      <div class="comment_box">
        <h1>kn***</h1>
        <h2>2020 12-21 01:37:52</h2><br>
        <p>도전합니다!! 제발 ㅈㅓ도 당첨되게 해주ㅅㅔ 요!!!!</p><br>
        <h3>추천: </h3><h4>11</h4>
      </div>
      <br><br><hr><br>
      <div class="comment_box">
        <h1>ki***</h1>
        <h2>2020 12-21 09:11:06</h2><br>
        <p>무료번호 한번 받아갑니다~ 당첨되면 또 올게요</p><br>
        <h3>추천: </h3><h4>4</h4>
      </div>
      <br><br><hr><br>
      <div class="comment_box">
        <h1>yu***</h1>
        <h2>2020 12-23 17:48:49</h2><br>
        <p>맨날 자동으로만샀었는데 추천번호한번받아볼게요ㅋㅋ 저도 좋은번호주세요</p><br>
        <h3>추천: </h3><h4>3</h4>
      </div>
      <br><br><hr><br>
      <div class="comment_box">
        <h1>py***</h1>
        <h2>2020 12-24 19:11:03</h2><br>
        <p>제발 당첨되게해주소서~!!! 제네시스도 내게오도록 ~~ ㅋㅋㅋ</p><br>
        <h3>추천: </h3><h4>1</h4>
      </div>
      <br><br><hr><br>
      <div class="comment_box">
        <h1>ji***</h1>
        <h2>2020 12-25 18:22:51</h2><br>
        <p>지난번 4등은 맞았습니다 더 좋은 번호 부탁드립니다</p><br>
        <h3>추천: </h3><h4>9</h4>
      </div>
      <br><br><hr><br>
      <div class="comment_box">
        <h1>he***</h1>
        <h2>2020 12-26 03:11:41</h2><br>
        <p>속는셈치고 한번 해볼까?</p><br>
        <h3>추천: </h3><h4>0</h4>
      </div>
      <br><br><hr><br>
      <div class="comment_box">
        <h1>lo***</h1>
        <h2>2020 12-26 10:55:30</h2><br>
        <p>다른곳 많이 이용해본사람입니다. 로또리움은 친절해서 두달정도해봤는데 성적이 비교적 괜찮습니다. 머지않아 1등 당첨이 올거같아요</p><br>
        <h3>추천: </h3><h4>0</h4>
      </div>
      <br><br>
    </section>

    <section id="fourth_section">
      <br><br>
      <h1>업체정보</h1>
      <h1>에스아이컴퍼니 | 사업자등록번호 : 547-11-01616</h1>
      <h1>경기도 안산시 단원구 광덕4로 108, 310호 (고잔프라자)</h1>
      <a href="tel:010-3309-4798">
        <h1>대표전화 | 010-3309-4798</h1>
        <p>(클릭시 통화연결)</p>
      </a>
      <br><br>
    </section>

  </body>
</html>
